body {
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-size: 100%;
    width: auto;
    height: auto;
}


h1 {
    font-size: 300%;
    margin-left: 0%;
    margin-right: auto;
    font-display: initial;
    width: 30%;
    margin-top: -1%;
    display: inline;
    background: rgb(243, 20, 20);
    color: rgb(241, 243, 234);
    transition: 2s;
    border-radius: 10px;
    border: 4px solid rgb(3, 65, 94);
    user-select: none;
    cursor: pointer;
}

.tem1 {
    font-size: 300%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(150, 6, 6);
    margin-left: 0%;
    margin-right: auto;
    margin-top: 100%;
}

.Menu {
    font-size: 151%;
    margin-left: 88%;
    background-color: rgb(165, 130, 127);
    color: rgb(20, 2, 2);
    width: fit-content;
    border: 4px solid rgb(5, 41, 58);
    padding: 2px 2px;
    border-radius: 10px;
    margin-top: -110%;
    user-select: none;
    cursor: pointer;



}


.Menu:hover {
    background: rgb(248, 155, 16);
    color: rgb(243, 19, 19);
    transition: 2s;

}

h1:hover {
    background: rgb(243, 20, 20);
    color: rgb(164, 204, 17);
    transition: 2s;
}
