h1{
    font: normal Arial 15pt;
    color: rgb(244, 241, 241);
    text-align: center;
    
    
}

body{
    background-color: rgb(6, 6, 107);
    color: white; 
}

#res{
    background-color: white;
    width: 400px;
    height: auto;
    margin: auto;
    font: normal Arial 15pt;
    color: black;
    word-wrap: break-word
    
    
}

#val{
    background-color: white;
    width: 400px;
    height: 300px;
    margin: auto;
    font: normal Arial 15pt ;
    color: black;
}

section{
    color: white;
    text-align: center;
}

footer{
    text-align: center;
}

